// Mixins

// Backgrounds

@mixin border {

	border-top: 5px solid;
	border-image-slice: 1;
	border-top-width: 5px;
	border-color: $orange;
	border-image-source: linear-gradient(to right, $orange, $magenta, $purple1);

}