// Mixins

// Backgrounds

@mixin text-background {

	color: 					$orange;

	@supports (background-clip: text) or (-webkit-background-clip: text) {

		color: 						transparent;

		@include gradient(90deg, $orange, $magenta, $purple1);

		-webkit-background-clip: 	text;
				background-clip: 	text;
				background-size: 	100%;

	}

}