// Mixins

// Backgrounds

@mixin text-background {

	@supports not (-webkit-background-clip: text){

		color: $purple1;

	}
	@supports (-webkit-background-clip: text){

		background: -webkit-linear-gradient($orange, $magenta, $purple1);
		
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	
	}

}