<footer id="site-footer">

	<div class="container">

		<section class="wordmark">

			<h1><a href="//www.thefin.ch/">The Finch</a></h1>

		</section>

		<nav role="navigation" class="footer-links">

			<h1>Meta</h1>

			<ul>

				{% for page in site.pages %}
				<li>
					<a class="header-link" href="{{ page.url }}" alt="Read {{ page.title }}">{{ page.title }}</a>
				</li>
				{% endfor %}

			</ul>

		</nav>

		<nav role="navigation" class="footer-links">

			<h1>Topics</h1>

			<ul>

				{% for topic in site.topics %}
				<li>
					<a class="header-link" href="{{ topic.url }}" alt="See all posts under {{ topic.title }}">{{ topic.title }}</a>
				</li>
				{% endfor %}

			</ul>

		</nav>

	</div>

</footer>