// Grid containers

.container {
	
	display: 			block;
	position: 			relative;
	padding-top: 		0;
	padding-bottom: 	0;
	
	padding-left: 		$container-padding;
	padding-right: 		$container-padding;
	
	width: 100%;
		
	margin-left: auto;
	margin-right: auto;
		
	@include sm {
		max-width: $container-sm !important;
	
		padding-left: 		$container-padding;
		padding-right: 		$container-padding;
	}
	
	@include md {
		max-width: $container-md !important;
	
		padding-left: 		$container-padding * 2;
		padding-right: 		$container-padding * 2;
	}
	
	@include lg {
		max-width: $container-lg !important;
	
		padding-left: 		$container-padding * 3;
		padding-right: 		$container-padding * 3;
	}
	
	@include xl {
		max-width: $container-xl !important;

		padding-left: 		$container-padding * 4;
		padding-right: 		$container-padding * 4;
	}

}


.wrapper {
	position: 	relative;
	display: 	grid;

	// Single column layout
	@include xs {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
	}
	@include sm {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
	}

	// Two column layout
	@include md {
		grid-template-columns: 2fr 5fr;
		grid-template-rows: auto auto;
	}
	@include lg {
		grid-template-columns: 1fr 3fr;
		grid-template-rows: auto auto;
	}
	@include xl {
		grid-template-columns: 1fr 3fr;
		grid-template-rows: auto auto;
	}

	@include xs {
		grid-template-areas: 	"sidebar"
								"content"
								"footer";
	}
	@include sm {
		grid-template-areas: 	"sidebar"
								"content"
								"footer";
	}

	@include md-up {
		grid-template-areas: 	"sidebar content"
								"sidebar footer";
	}

}

header#site-header {

	display: grid;

	@include md-up {
		min-height: 100vh;
	}
	grid-area: sidebar;

	background: 		$brand;

}

main {
	
	grid-area: content;

	min-height: 100vh;

}

footer#site-footer {

	grid-area: footer;

	min-height: 30vh;

}


