@font-face {
	font-family: 'TheFinch';

	font-weight: normal;
	font-style: normal;

	src: 	url('../fonts/TheFinchFont-Regular.eot');
	src: 	url('../fonts/TheFinchFont-Regular.eot?#iefix') format('embedded-opentype'),
			url('../fonts/TheFinchFont-Regular.woff2') format('woff2'),
			url('../fonts/TheFinchFont-Regular.woff') format('woff'),
			url('../fonts/TheFinchFont-Regular.ttf') format('truetype');

	   -moz-font-feature-settings:	$font-feature-settings;
		 -o-font-feature-settings:	$font-feature-settings;
	-webkit-font-feature-settings:	$font-feature-settings;
			font-feature-settings:	$font-feature-settings;

	font-display: fallback;
}

@font-face {
	font-family: 'TheFinch';

	font-weight: normal;
	font-style: italic;

	src: 	url('../fonts/TheFinchFont-Italic.eot');
	src: 	url('../fonts/TheFinchFont-Italic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/TheFinchFont-Italic.woff2') format('woff2'),
			url('../fonts/TheFinchFont-Italic.woff') format('woff'),
			url('../fonts/TheFinchFont-Italic.ttf') format('truetype');

	-moz-font-feature-settings:	$font-feature-settings;
	-o-font-feature-settings:	$font-feature-settings;
	-webkit-font-feature-settings:	$font-feature-settings;
	font-feature-settings:	$font-feature-settings;

	font-display: fallback;
}

@font-face {
	font-family: 'TheFinch';

	font-weight: bold;
	font-style: normal;

	src: 	url('../fonts/TheFinchFont-Bold.eot');
	src: 	url('../fonts/TheFinchFont-Bold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/TheFinchFont-Bold.woff2') format('woff2'),
			url('../fonts/TheFinchFont-Bold.woff') format('woff'),
			url('../fonts/TheFinchFont-Bold.ttf') format('truetype');

	-moz-font-feature-settings:	$font-feature-settings;
	-o-font-feature-settings:	$font-feature-settings;
	-webkit-font-feature-settings:	$font-feature-settings;
	font-feature-settings:	$font-feature-settings;

	font-display: fallback;
}

@font-face {
	font-family: 'TheFinch';

	font-weight: bold;
	font-style: italic;

	src: 	url('../fonts/TheFinchFont-BoldItalic.eot');
	src: 	url('../fonts/TheFinchFont-BoldItalic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/TheFinchFont-BoldItalic.woff2') format('woff2'),
			url('../fonts/TheFinchFont-BoldItalic.woff') format('woff'),
			url('../fonts/TheFinchFont-BoldItalic.ttf') format('truetype');

	-moz-font-feature-settings:	$font-feature-settings;
	-o-font-feature-settings:	$font-feature-settings;
	-webkit-font-feature-settings:	$font-feature-settings;
	font-feature-settings:	$font-feature-settings;

	font-display: fallback;
}