@font-face {
	font-family: 'TheFinchSansSerif';

	font-weight: normal;
	font-style: normal;

	src: 	url('../fonts/sans/DMSans-Regular.ttf') format('truetype');

	   -moz-font-feature-settings:	$font-feature-settings;
		 -o-font-feature-settings:	$font-feature-settings;
	-webkit-font-feature-settings:	$font-feature-settings;
			font-feature-settings:	$font-feature-settings;

	font-display: fallback;
	font-kerning: 			auto;
	letter-spacing: 		normal;
}

@font-face {
	font-family: 'TheFinchSansSerif';

	font-weight: normal;
	font-style: italic;

	src: 	url('../fonts/sans/DMSans-Italic.ttf') format('truetype');

	   -moz-font-feature-settings:	$font-feature-settings;
		 -o-font-feature-settings:	$font-feature-settings;
	-webkit-font-feature-settings:	$font-feature-settings;
			font-feature-settings:	$font-feature-settings;

	font-display: fallback;
	font-kerning: 			auto;
	letter-spacing: 		normal;
}

@font-face {
	font-family: 'TheFinchSansSerif';

	font-weight: bold;
	font-style: normal;

	src: 	url('../fonts/sans/DMSans-Bold.ttf') format('truetype');

	   -moz-font-feature-settings:	$font-feature-settings;
		 -o-font-feature-settings:	$font-feature-settings;
	-webkit-font-feature-settings:	$font-feature-settings;
			font-feature-settings:	$font-feature-settings;

	font-display: fallback;
	font-kerning: 			auto;
	letter-spacing: 		normal;
}

@font-face {
	font-family: 'TheFinchSansSerif';

	font-weight: bold;
	font-style: italic;

	src: 	url('../fonts/sans/DMSans-BoldItalic.ttf') format('truetype');

	   -moz-font-feature-settings:	$font-feature-settings;
		 -o-font-feature-settings:	$font-feature-settings;
	-webkit-font-feature-settings:	$font-feature-settings;
			font-feature-settings:	$font-feature-settings;

	font-display: fallback;
	font-kerning: 			auto;
	letter-spacing: 		normal;
}


// --------------------------
// REGULAR FONTS (Noto Serif)
// --------------------------

@font-face {
	font-family: 'TheFinchSerif';

	font-weight: normal;
	font-style: normal;

	src: 	url('../fonts/serif/NotoSerif-Regular.ttf') format('truetype');

	   -moz-font-feature-settings:	$font-feature-settings;
		 -o-font-feature-settings:	$font-feature-settings;
	-webkit-font-feature-settings:	$font-feature-settings;
			font-feature-settings:	$font-feature-settings;

	font-display: fallback;
	font-kerning: 			auto;
	letter-spacing: 		normal;
}

@font-face {
	font-family: 'TheFinchSerif';

	font-weight: normal;
	font-style: italic;

	src: 	url('../fonts/serif/NotoSerif-Italic.ttf') format('truetype');

	   -moz-font-feature-settings:	$font-feature-settings;
		 -o-font-feature-settings:	$font-feature-settings;
	-webkit-font-feature-settings:	$font-feature-settings;
			font-feature-settings:	$font-feature-settings;

	font-display: fallback;
	font-kerning: 			auto;
	letter-spacing: 		normal;
}

@font-face {
	font-family: 'TheFinchSerif';

	font-weight: bold;
	font-style: normal;

	src: 	url('../fonts/serif/NotoSerif-Bold.ttf') format('truetype');

	   -moz-font-feature-settings:	$font-feature-settings;
		 -o-font-feature-settings:	$font-feature-settings;
	-webkit-font-feature-settings:	$font-feature-settings;
			font-feature-settings:	$font-feature-settings;

	font-display: fallback;
	font-kerning: 			auto;
	letter-spacing: 		normal;
}

@font-face {
	font-family: 'TheFinchSerif';

	font-weight: bold;
	font-style: italic;

	src: 	url('../fonts/serif/NotoSerif-BoldItalic.ttf') format('truetype');

	   -moz-font-feature-settings:	$font-feature-settings;
		 -o-font-feature-settings:	$font-feature-settings;
	-webkit-font-feature-settings:	$font-feature-settings;
			font-feature-settings:	$font-feature-settings;

	font-display: fallback;
	font-kerning: 			auto;
	letter-spacing: 		normal;
}

// --------------------------
// DISPLAY FONTS (Noto Serif Display)
// --------------------------

@font-face {
	font-family: 'TheFinchDisplay';

	font-weight: normal;
	font-style: normal;

	src: 	url('../fonts/display/NotoSerifDisplay-Regular.ttf') format('truetype');

	   -moz-font-feature-settings:	$font-feature-settings;
		 -o-font-feature-settings:	$font-feature-settings;
	-webkit-font-feature-settings:	$font-feature-settings;
			font-feature-settings:	$font-feature-settings;

	font-display: fallback;
	font-kerning: 			auto;
	letter-spacing: 		normal;
}

@font-face {
	font-family: 'TheFinchDisplay';

	font-weight: normal;
	font-style: italic;

	src: 	url('../fonts/display/NotoSerifDisplay-Italic.ttf') format('truetype');

	   -moz-font-feature-settings:	$font-feature-settings;
		 -o-font-feature-settings:	$font-feature-settings;
	-webkit-font-feature-settings:	$font-feature-settings;
			font-feature-settings:	$font-feature-settings;

	font-display: fallback;
	font-kerning: 			auto;
	letter-spacing: 		normal;
}

@font-face {
	font-family: 'TheFinchDisplay';

	font-weight: bold;
	font-style: normal;

	src: 	url('../fonts/display/NotoSerifDisplay-Bold.ttf') format('truetype');

	   -moz-font-feature-settings:	$font-feature-settings;
		 -o-font-feature-settings:	$font-feature-settings;
	-webkit-font-feature-settings:	$font-feature-settings;
			font-feature-settings:	$font-feature-settings;

	font-display: fallback;
	font-kerning: 			auto;
	letter-spacing: 		normal;
}

@font-face {
	font-family: 'TheFinchDisplay';

	font-weight: bold;
	font-style: italic;

	src: 	url('../fonts/display/NotoSerifDisplay-BoldItalic.ttf') format('truetype');

	   -moz-font-feature-settings:	$font-feature-settings;
		 -o-font-feature-settings:	$font-feature-settings;
	-webkit-font-feature-settings:	$font-feature-settings;
			font-feature-settings:	$font-feature-settings;

	font-display: fallback;
	font-kerning: 			auto;
	letter-spacing: 		normal;
}