// Footer styles

footer#site-footer {	
	
	> div {

		display: flex;
		position: relative;
	
		@include sm-down {
			margin-top:	$pad-1;
			margin-bottom: $pad-1;
		}
		@include md-up {
			margin-top:	$pad-2;
			margin-bottom: $pad-2;
		}
		
		border: 1px solid;
	
		@include sm-down {
			flex-flow: column nowrap;
		}
		@include md-up {
			flex-flow: 	row wrap;
			justify-content: space-between;
		}
		@include xs {
			margin-bottom: $pad-1;
		}
	
		margin-bottom: $pad-2;
		
	}
	
	section, nav {

		display: block;

		@include xs {
			width: 100%;
		}
		@include sm-up {
			width: 			calc(33% - #{$pad-1});
		}
		@include lg-up {
			width: 			calc(25% - #{$pad-1});
			&:first-child {
				width: 			calc(50%);
			}
		}
		
	}
	
	section.wordmark {
		padding:		$pad-3 $pad-2;

		h1 {
			@extend h2;
			padding: 0 !important;
		}
	}
	
	nav {
		@include xs {
			padding:		$pad-3 $pad-2;
		}
		@include sm-up {
			padding:		$pad-3 $pad-2 $pad-3 0;
		}

		h1 {
			@extend h4;
			padding-top: 0 !important;
			font-style: normal !important;

			a {
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		ul  {
			
			padding: 0;
	
			list-style: none;
	
			li {
				padding: 0;

				a {
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}
			
		}
	}

}