// Home page styles

body#four-oh-four {
    
    main {

        min-height: 70vh;
        * {
            color: white;
        }
    
        img.dead {
            max-width: 200px;
            margin-top: $pad-10;
        }

    }
	
}