// Global styles

@at-root {
	@-ms-viewport { 
		width: device-width;
	} // stylelint-disable-line at-rule-no-vendor-prefix
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

html,
body {
	
	position: 				relative;
		
	margin: 				0;
	padding: 				0;

	box-sizing: border-box;

    color: $body-color;
	background: $body-background;
	
}