// Header styles

header#site-header {
	
	// This is the container for the site header
	
	display: flex;
	flex-direction: column;
	
	// Add padding of the site header, with smaller
	// screens having less padding.
	@include sm-down {
		padding-top:	$pad-1;
		padding-bottom: $pad-2;
	}
	@include md-up {
		padding-top:	$pad-3;
		padding-bottom: $pad-3;
	}
	
	div#header-wordmark {
		
		// This is the container for the header's main elements.
		// The links in the header collapse into a dropdown menu
		// on smaller screens, controlled by 'button#header-menu-toggle'
		
		display: 		flex;
		position: 		relative;

		a.header-logo {
			
			// Set the styles for the link that surrounds the Finch logo.
			// 
			// There are no hover styles on the logo, but there are on the
			// wordmark.

			display: 			inline-block;
			position: 			relative;
			height: 100%;			
			text-decoration: 	none;
		}

		svg.finch-logo {
			
			// Set the styles for the SVG that appears in the header of site.
			// 
			// The image shrinks on smaller screens, and changes colour for 
			// browsers that support 'dark mode'.
			// 
			// The 'branch' of the SVG should line up with the 'bottom-border'
			// of the 'h1#finch-wordmark' to create a continuous line.
			// 
			// The finch does not appear in the header of the 404 page and
			// instead appears in the main body of the page.
			
			@include sm-down { 
				height: 	50px !important;
				max-height: 50px !important;
			}
			@include md-up {
				height: 	100px !important;
				max-height: 100px !important;
			}
			
			// 'color' is set here because 'currentColor' is used in the SVG file
			// and 'currentColor' responds to 'color' in CSS.
			color: $brand !important;
			@include dark-mode {
				color: $white !important;
			}
			
		}

		div.header-links {
			
			// This wrapper contains the h1 wordmark and the navigation
			// links for the main pages on the site.
			
			display: 			inline-block;
			position: 			relative;
			
			width: 				100%;
		}

		h1.finch-wordmark {
			
			// This h1 is a the main home link in the header.
			
			text-align: 		right;
			vertical-align: 	bottom;
			font-style: italic;
			
			// This border should match the 'branch' in the SVG.
			border-color: 		$brand !important;
			@include dark-mode {
				border-color: $white !important;
			}

			@include sm-down {
				height: 			33px;
				padding: 			0;
	
				font-size: 			24px;
				line-height: 		32px;
				border-bottom:		1px solid;
			}

			@include md-up {
				height: 			66px;
				padding: 			0 0 0 $pad-2;
	
				font-size: 			40px;
				line-height: 		64px;
				border-bottom:		2px solid;
			}
			
			a.finch-wordmark--link {
				color: 		$brand !important;
				@include dark-mode {
					color: $white !important;
				}
			}
			
		}
		
		nav#header-links {	
			
			// These links appear in the header and link to the main
			// pages on the website. 
			// 
			// The nav component 'collapses' (is not visible) when 'closed'
			// on smaller screens. The nav component is toggled by the 
			// 'button#header-menu-toggle'.
			
			position: 	relative;
			display: 	flex;
	
			flex-grow: 			1;
			align-self: 		flex-start;
			justify-content: 		flex-end;
	
			// The links are displayed as an inline, horizontal list on 
			// larger displays.
			@include md-up {
				height: 			66px;
				padding: 			0 0 $pad-1 $pad-1;
				line-height: 		64px;
			}
	
			// The links are displayed as a vertical list on smaller displays.
			@include sm-down {

				width: 100%;
				
				background: $gray-200;
				@include dark-mode {
					background: $true-black;
				}
	
				&.open {
					display: block;
				}
				&.closed {
					display: none;
				}
			}
	
			// The links are displayed as an inline, horizontal list on 
			// larger displays, and as a vertical list on small ones.
			ul {
				
				display: block;
				list-style-type: none;
				padding: 0 !important;
				text-align: left;
	
				li {
	
					position: relative;
					padding: 0;
	
					@include sm-down {
						display: 	block;
						font-size:			$p-font-size-sm;
					}
	
					@include md-up {
						display: 	inline-block;
						margin-left: 20px;
						font-size:			20px;
					}
				
					a.header-link {
				
						@include md-up {
							display: inline-block;
						}
	
						@include sm-down {	
							
							display: block;
							padding: 	8px 12px;
							
							// This code makes the highlighted area of the links in the 
							// header on hover/focus the full size of the containing 'li' element.
							&::after {
								content: "";
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
							}
							
							
						}
					}
				}
	
			}
		}
		
	}
	

	button#header-menu-toggle {
		
		// This button toggles the visibility of the 'nav' component. 
		// It is only visible at smaller screen sizes.
		
		@include sm-down {
				
			display: 	block;
			position: 	relative;
			z-index: 	9999999999;
			
			left: 		auto;
			bottom: 	auto;
			right: 		0;
			top:		0;
			margin: 		0;
			padding:		3px 10px;			
			align-self: 	flex-end;
	
			color: 				$link-color;
			background: 		none;
			@include dark-mode {
				color:			$link-color-dark-mode;
			}
			font-size: 		$p-font-size-sm;
			text-align: 	right;
			border:			1px solid;

			&:hover {	
				color: 				$link-hover-color;
				@include dark-mode {
					color:			$link-hover-color-dark-mode;
					background:		$link-hover-background-dark-mode;
				}
			}
			&:focus {
				outline: 		3px solid $magenta;
			}

			&.open {
				span.up-arrow {
					display: none;
				}
			}
			&.closed {
				span.down-arrow {
					display: none;
				}
			}
		}
		
		@include md-up {
			display: 		none;
		}
	
	}

}