// Header styles

header#site-header {
	
	nav {

		@include xs {
			display: grid;
			
			grid-template-columns: 		auto;
			grid-template-rows: 		auto auto;
			grid-template-areas: 		"wordmark"
										"links";
		}
		@include sm {
			display: grid;
			
			grid-template-columns: 		auto;
			grid-template-rows: 		auto auto;
			grid-template-areas: 		"wordmark"
										"links";
		}

		@include md-up {
			
			display: block;
			position: relative;

		}

		div#header-wordmark {

			background: $brand;

			@include xs {

				grid-area: wordmark;

				display: block;
				position: relative;
				bottom: 0;
				text-align: left;

			}
			@include sm {

				grid-area: wordmark;
				
				display: block;
				position: relative;
				bottom: 0;
				text-align: left;

			}

			@include md-up {

				display: block;
				position: sticky;
				position: -webkit-sticky;
				bottom: 0;
				text-align: right;
			
			}


			a {
				display: inline-block;
				position: relative;
			}

			img {

				@include xs {
					width: 100%;
					max-width: 200px;

					margin: 10px 0 0 10px;
				}
				@include sm {
					width: 100%;
					max-width: 250px;

					margin: 10px 0 0 20px;
				}

				@include md {
					width: 100%;
					max-width: 251px;

					margin: 20px;
				}
				@include lg {
					width: 85%;
					max-width: 400px;

					margin: 20px;
				}
				@include xl {
					width: 85%;
					max-width: 500px;

					margin: 20px;
				}

			}

		}
		
		div#header-links {

			&.open {
				@include xs {
					
					display: block;
					position: relative;
					margin-top: 0;
					transition: 0.75s ease-out;

					grid-area: links;

					padding-top: 30px;
					
					text-align: left;

				}
				@include sm {
					
					display: block;
					position: relative;
					margin-top: 0;
					transition: 0.75s ease-out;

					grid-area: links;

					padding-top: 30px;
					
					text-align: left;
				}
			}

			&.closed {
				@include xs {
					
					display: block;
					position: relative;
					margin-top: -100vh;
					transition: 0.75s ease-in;

					grid-area: links;
					
					text-align: left;
				}
				@include sm {
					
					display: block;
					position: relative;
					margin-top: -100vh;
					transition: 0.75s ease-in;

					grid-area: links;
					
					text-align: left;
				}
			}

			@include md-up {
				
				display: block;
				position: relative;

				text-align: right;

				min-height: 100%;
				padding: 20px;
			}

			font-family: $font-family-display;

			a {
				color: $white;

				font-weight: normal;
				text-decoration: none;

				@include md {
					font-size: $p-font-size-md * 1.1;
				}
				@include lg {
					font-size: $p-font-size-lg * 1.25;
				}
				@include xl {
					font-size: $p-font-size-xl * 1.25;
				}

				&:hover {
					text-decoration: $link-text-decoration;
				}
			}

			ul {
				list-style-type: none;
				padding: 0 0 0 20px;
			}

		}

		button#header-menu-toggle {
			
			display: 	block;
			position: 	absolute;

			border: 		none;
			background: 	none;
			
			z-index: 	9999999999;
			
			left: 		auto;
			bottom: 		auto;
			right: 		0;
			top:			0;
			
			margin: 		0;
			
			@include xs {
				padding:		15px 10px;
			}
			
			@include sm {
				padding:		20px 20px;
			}
			
			svg#header-menu-toggle-image {

				padding: 0;
				margin: 0;

				@include xs {
					width: 			40px;
					height: 		40px;
				}
				@include sm {	
					width: 			40px;
					height: 		40px;
				}

				&.open {
					transform: rotate(-90deg);
					transition: 0.5s ease-in-out;
				}

				&.closed {
					transform: rotate(0deg);
					transition: 0.5s ease-in-out;
				}

			}
			
			@include md-up {
				display: none;
			}
		
		}
	
	}

}