// Home page styles

body#home {

	p.categories > a.category {
		text-transform: 	uppercase;
		font-weight: 		bold;
		background: 	$brand;
		color: 			$white;
		padding: 5px 10px;
	}
    
    section#splash {

		@include xs {
			margin-bottom: $pad-1;
		}
		@include sm-up {
			margin-bottom: $pad-2;
		}

        article {

			position: relative;
			display: flex;
			
			@include gradient(45deg, $orange, $magenta, $purple1);
			
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;

			@include xs {
				padding: $pad-15 $pad-1 $pad-1;
			}

			@include sm {
				padding: $pad-10 $pad-2 $pad-2;
			}

			@include md-up {
				padding: $pad-20 $pad-2 $pad-2;
			}

			div.hero-text {

				display: 	flex;
				position: 	relative;

				@include xs {
					max-width: 100%;
				}
				@include sm-up {
					max-width: 60%;
				}

				align-self:     flex-start;
				flex-direction: column;

				background: 	$white;
				padding: 		$pad-1;

                h1 {
                    padding:    0;
					position: relative;
				}
				
				p {
					max-width: 40ch;
				}

				a.display {
					position: relative;
					&::before {
						content: " ";
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
					}
				}

            }

        }

    }

    section#pull {

		@include xs {
			margin-bottom: $pad-1;
		}
		@include sm-up {
			margin-bottom: $pad-2;
		}

		article {
			
			position: relative;
            display: flex;

			background: $black;

			padding: $pad-2;

			@include xs {
				flex-direction: column;
				padding: $pad-1;
			}

            div.hero-pullquote {

				flex-basis: 60%;

                h1 {
					@extend h2;
                    font-style: 	oblique;
					padding-top: 	0;
					padding-bottom: $pad-3;

					@include xs {
						flex-direction: column;
						padding-top: $pad-2;
						padding-bottom: 0;
					}

					a {
						display: 		inline-block;
						@include 		text-background;
					}
                }

            }
            div.hero-text {

				padding-top: 	$pad-3;
				padding-left:	$pad-2;

				flex-basis: 40%;

				p {
					color: 			$white;
				}
            }

        }
        
    }

    section#carousel {

		display: 			flex;
		width: 				100%;

		@include md-down {
			flex-flow: column nowrap;
		}
		@include md-up {
			flex-flow: 	row wrap;
			justify-content: space-between;
		}

		article {

			display: 		flex;
			width: 			32%;
			flex-direction: column;

			background: 	$white;	

			@include xs {
				margin-bottom: $pad-1;
			}
			@include sm-up {
				margin-bottom: $pad-2;
			}

			@include xs {
				width: 100%;
			}

		}

		div.hero-image {
			display: block;
			position: relative;
			padding: 		$pad-1;

			img {
				width: 100%;
			}
		}

		div.text {
			padding: 		$pad-1;

			h1 {
				@extend h2;
				padding-top: 0;
			}
		}

	}
	
	section#blogroll {

		display: 			flex;
		width: 				100%;

		@include md-down {
			flex-flow: column nowrap;
		}
		@include md-up {
			flex-flow: 	row wrap;
			justify-content: space-between;
		}

		article {

			display: 		flex;
			width: 			calc(50% - #{$pad-1});
			flex-direction: column;

			background: 	$white;	

			padding: 		$pad-1;

			@include xs {
				width: 100%;
				margin-bottom: $pad-1;
			}

			@include sm-up {
				&:nth-child(odd) {
					margin: 		0 $pad-1 $pad-2 0;
				}
				&:nth-child(even) {
					margin: 		0 0 $pad-2 $pad-1;
				}
			}

			h1 {
				@extend h2;
				padding-top: 0;

				@include xl {
					max-width: 80%;
				}
			}
		}

		p.all-posts {
			position: 		relative;
			display: 		flex;
			max-width: 		100%;
			width: 			calc(50% - #{$pad-1});
			flex-direction: row;

			justify-content: center;
			align-items: center;

			text-align: center;
			background: 	$white;	

			padding: 		$pad-1;

			@include xs {
				width: 100%;
				margin-bottom: $pad-1;
			}

			@include sm-up {
				&:nth-child(odd) {
					margin: 		0 $pad-1 $pad-2 0;
				}
				&:nth-child(even) {
					margin: 		0 0 $pad-2 $pad-1;
				}
			}

            a {
                display: inline-block;

                &:hover {
                    background: none;
                    outline: none;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
		}

    }
		
}