// Loop page styles

body#home ul#loop {	

    list-style: none;
    
    padding: 0;
    
    li {
        
        margin-bottom: $pad-2;
        
        background: $white;
        border-top: 1px solid;
        
        article {
            padding: 0 $pad-1;
        }
        
        h2 {
            padding-top: $pad-1;
            padding-bottom: 0;
        }
        
        p:last-child {
            padding-bottom: 0;
        }
    }

}

div.pagination {

    position: relative;
    display:        flex;

    width:          100%;

    @include sm-down {
        flex-direction: column;
    }

    margin-top: $pad-2;
    
    border-top: 3px solid $white;

    @include clearfix;

    p[class^="page--next-prev--"] {

        @extend h4;
        font-style: normal;

        position: relative;
        flex: 1;
        
        background: $white;

        padding: $pad-1;

            
        text-align: center;

        @include sm-down {
            margin: $pad-1 0 0 0;

            &:last-child {
                margin-bottom: $pad-1;
            }
        }

        @include md-up {

            margin: $pad-2 0;

            width: 50%;
            max-width: 50%;
        
            &:first-child {
                margin-right: $pad-1;
            }
            &:last-child {
                margin-left: $pad-1;
            }
            &:only-child {
                margin-left: 0;
                margin-right: 0;
            }

        }

        a {
            display: inline-block;
            text-decoration: none;

            &:hover {
                
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

        }

        &:hover {
            outline:    none;
        }

        @include clearfix;
    }

    p.page--next-prev--prev {
        @include md-up {
            float:      left;
        }
    }

    p.page--next-prev--next {
        @include md-up {
            float:      right;
        }
    }

    p.page--next-prev--prev-blank {
        background: none;

        &:hover {
            background: none;
        }

        @include sm-down {
            display: none;
        }
    }

}