// Loop page styles

body#loop {	

    ul#loop {

        display: 			flex;
        
        @include sm-down {
            width:          100%;
        }
        @include md-up {
            width: 			70%;
        }
        @include xl {
            width: 			60%;
        }
        
        padding:            0;
        margin:             0;

        flex-flow: column nowrap;
        justify-content: space-between;

		li {

			display: 		flex;
			flex-direction: column;

			background: 	$white;	

			padding: 		$pad-1;
            width: 100%;
            max-width: 100%;

			@include xs {
				margin-bottom: $pad-1;
			}
			@include sm-up {
				margin-bottom: $pad-2;
			}

			h2 {
				padding: 0 0 $pad-1;
                
                a {
                    color: 				$brand;
                    text-decoration: 	none;
            
                    &:hover {
                        text-decoration: underline;
                    }
                    &:focus {
                        color: 			$white;
                        background: 	$brand;
                        outline: 		5px solid $brand;
                    }
                }
			}

			p {

				&:last-of-type {
					padding-bottom: 0;
				}

			}
        }

    }

}