// Posts page styles

body#post {
			
	header.post-title {
		
			
	}
	
	section.post-body {
		
		> p:first-of-type {
				font-size: 		$p-font-size-base * 1.5;
				line-height: 	$p-line-height-base * 1.5;
				padding-bottom: 	$p-padding-bottom * 1.5;
				
				@include xs {
					font-size: 		$p-font-size-base-xs * 1.1;
					line-height: 	$p-line-height-base-xs;
					padding-bottom: 	$p-padding-bottom-xs * 1.5;
				}
				@include sm {
					font-size: 		$p-font-size-base-sm * 1.25;
					line-height: 	$p-line-height-base-sm * 1.1;
					padding-bottom: 	$p-padding-bottom-sm * 1.5;
				}
				@include md {
					font-size: 		$p-font-size-base-md * 1.25;
					line-height: 	$p-line-height-base-md * 1.1;
					padding-bottom: 	$p-padding-bottom-md * 1.5;
				}
				@include lg {
					font-size: 		$p-font-size-base-lg * 1.25;
					line-height: 	$p-line-height-base-lg * 1.1;
					padding-bottom: 	$p-padding-bottom-lg * 1.5;
				}
				@include xl {
					font-size: 		$p-font-size-base-xl * 1.25;
					line-height: 	$p-line-height-base-xl * 1.1;
					padding-bottom: 	$p-padding-bottom-xl * 1.5;
				}
				
				font-weight:		bold;
		}

		ul > li::before {
			position: absolute;
			content: "–";
   
			 left: $p-font-size-base;
   
			 @include xs {	    
				left: $p-font-size-base-xs;
			}
			@include sm {	    
				left: -($p-font-size-base-sm / 2);
			}
			@include md {	    
				left: -($p-font-size-base-md / 2);
			}
			@include lg {	    
				left: -($p-font-size-base-lg / 2);
			}
			@include xl {	    
				left: -($p-font-size-base-xl / 2);
			}
		}
		
		ul#markdown-toc {
			
			&:before {
				@extend		h2;
				display: block;
				padding: 0 20px 20px;
				content:	"Contents";
			}
			
			background: 			$blockquote-background;
			
			/* Text and background color for dark mode */
			@media (prefers-color-scheme: dark) {
			    background: 		$blockquote-background-dark-mode;
			}
			
			padding:	20px;
			
			> li {
				font-weight: bold;
				
				&::before {
					display: none !important;
			    }
			    
			    > ul {
				    
				    padding-left: 0;
				    margin: 0;
				    
				    li {
					    
					    @include md-up {
						    padding-left: 15px;
						}
						
					    margin: 0;
					    
					    &::before {
						    
						    display: none;
						    
						    @include md-up {
							    display: inline-block;
								position: relative !important;
								left: -15px;
							}
			
					    }
				    }
			    }

			}
		}
		
		
		ol#markdown-toc {
			
			&:before {
				@extend		h2;
				display: block;
				padding: 0 20px 20px;
				content:	"Contents";
			}
			
			background: 			$blockquote-background;
			list-style-type: 		none;
			
			/* Text and background color for dark mode */
			@media (prefers-color-scheme: dark) {
			    background: 		$blockquote-background-dark-mode;
			}
			
			padding:	20px;
			
			> li {
				font-weight: bold;
				
				&::before {
					display: none !important;
			    }
			    
			    > ol {
				    
				    padding-left: 50px;
				    margin: 0;
				    
			    }

			}
			
			li:last-child > ol {
				padding-bottom: 0.5 * $p-font-size-base;
			}
			
		}
		
		twitter-widget {

			margin-left: auto;
			margin-right: auto;

			-webkit-font-feature-settings: 	normal !important;
			   -moz-font-feature-settings: 	normal !important;
			  	 -o-font-feature-settings: 	normal !important;
					font-feature-settings:	normal !important;

			@include xs {
				padding-bottom: 	$p-padding-bottom-xs;
			}
			@include sm {
				padding-bottom: 	$p-padding-bottom-sm;
			}
			@include md {
				padding-bottom: 	$p-padding-bottom-md;
			}
			@include lg {
				padding-bottom: $p-padding-bottom-lg;
			}
			@include xl {
				padding-bottom: $p-padding-bottom-xl;
			}
		}
		
		div.footnotes {
		
			&:before {
				
				display: block;
				
				@include xs {
					font-size: 		$h3-font-size-base-xs;
					line-height: 	$h3-line-height-base-xs;
					padding-top: 		$h3-padding-top-xs;
					padding-bottom: 	$h3-padding-bottom-xs;
				}
				@include sm {
					font-size: 		$h3-font-size-base-sm;
					line-height: 	$h3-line-height-base-sm;
					padding-top: 		$h3-padding-top-sm;
					padding-bottom: 	$h3-padding-bottom-sm;
				}
				@include md {
					font-size: 		$h3-font-size-base-md;
					line-height: 	$h3-line-height-base-md;
					padding-top: 		$h3-padding-top-md;
					padding-bottom: 	$h3-padding-bottom-md;
				}
				@include lg {
					font-size: 		$h3-font-size-base-lg;
					line-height: 	$h3-line-height-base-lg;
					padding-top: 		$h3-padding-top-lg;
					padding-bottom: 	$h3-padding-bottom-lg;
				}
				@include xl {
					font-size: 		$h3-font-size-base-xl;
					line-height: 	$h3-line-height-base-xl;
					padding-top: 		$h3-padding-top-xl;
					padding-bottom: 	$h3-padding-bottom-xl;
				}
				
				font-weight:			$h3-font-weight;
				font-style: 			$h3-font-style; 
				text-align: 			$h3-text-align;		
				text-decoration: 	$h3-text-decoration;
				text-transform: 		$h3-text-transform;
				
				content: "Footnotes";
			}
			
			padding-top: 			$footnotes-font-size-base * 6;
			max-width: 			600px;
			
			@include xs {
				padding-top: 		$footnotes-font-size-base-xs * 6;
				max-width: 		400px;
			}
			@include sm {
				padding-top: 		$footnotes-font-size-base-sm * 6;
				max-width: 		500px;
			}
			@include md {
				padding-top: 		$footnotes-font-size-base-md * 6;
				max-width: 		450px;
			}
			@include lg {
				padding-top: 		$footnotes-font-size-base-lg * 6;
				max-width: 		600px;
			}
			@include xl {
				padding-top: 		$footnotes-font-size-base-xl * 6;
				max-width: 		600px;
			}
			
			ul,ol {
				padding-left: $footnotes-font-size-base * 2;
				
				@include md-up {
					padding-left: 0;
				}
				
			}
			
			p, li {
				font-size: 			$footnotes-font-size-base;
				line-height: 		$footnotes-line-height-base;
				padding-bottom: 		$footnotes-padding-bottom;
				
				@include xs {
					font-size: 		$footnotes-font-size-base-xs;
					line-height: 	$footnotes-line-height-base-xs;
					padding-bottom: 	$footnotes-padding-bottom-xs;
				}
				@include sm {
					font-size: 		$footnotes-font-size-base-sm;
					line-height: 	$footnotes-line-height-base-sm;
					padding-bottom: 	$footnotes-padding-bottom-sm;
				}
				@include md {
					font-size: 		$footnotes-font-size-base-md;
					line-height: 	$footnotes-line-height-base-md;
					padding-bottom: 	$footnotes-padding-bottom-md;
				}
				@include lg {
					font-size: 		$footnotes-font-size-base-lg;
					line-height: 	$footnotes-line-height-base-lg;
					padding-bottom: 	$footnotes-padding-bottom-lg;
				}
				@include xl {
					font-size: 		$footnotes-font-size-base-xl;
					line-height: 	$footnotes-line-height-base-xl;
					padding-bottom: 	$footnotes-padding-bottom-xl;
				}
				
				font-weight:			$footnotes-font-weight;
			}
			
		}
	}
	
	footer.post-meta {
		
		@include xs {
			padding-top: 		$footnotes-font-size-base-xs * 3;
			max-width: 		400px;
		}
		@include sm {
			padding-top: 		$footnotes-font-size-base-sm * 3;
			max-width: 		500px;
		}
		@include md {
			padding-top: 		$footnotes-font-size-base-md * 3;
			max-width: 		450px;
		}
		@include lg {
			padding-top: 		$footnotes-font-size-base-lg * 3;
			max-width: 		600px;
		}
		@include xl {
			padding-top: 		$footnotes-font-size-base-xl * 3;
			max-width: 		600px;
		}

		p, dl, dt, dd {
			
			@include xs {
				font-size: 		$footer-font-size-base-xs;
				line-height: 	$footer-line-height-base-xs;
				padding-top: 		$footer-padding-top-xs;
				padding-bottom: 	$footer-padding-bottom-xs;
			}
			@include sm {
				font-size: 		$footer-font-size-base-sm;
				line-height: 	$footer-line-height-base-sm;
				padding-top: 		$footer-padding-top-sm;
				padding-bottom: 	$footer-padding-bottom-sm;
			}
			@include md {
				font-size: 		$footer-font-size-base-md;
				line-height: 	$footer-line-height-base-md;
				padding-top: 		$footer-padding-top-md;
				padding-bottom: 	$footer-padding-bottom-md;
			}
			@include lg {
				font-size: 		$footer-font-size-base-lg;
				line-height: 	$footer-line-height-base-lg;
				padding-top: 		$footer-padding-top-lg;
				padding-bottom: 	$footer-padding-bottom-lg;
			}
			@include xl {
				font-size: 		$footer-font-size-base-xl;
				line-height: 	$footer-line-height-base-xl;
				padding-top: 		$footer-padding-top-xl;
				padding-bottom: 	$footer-padding-bottom-xl;
			}
			
			font-weight:		$footer-font-weight;
			
			&.footer-wordmark {
				font-weight:		$footer-wordmark-font-weight;
			}
		}
		
		dl {
			@include clearfix;
		}		
		
		dt, dd {
			display: 	inline-block;
		}
		
		dt {
			
			@include xs {
				width: 		40%;
			}
			
			@include sm-up {
				width: 		25%;
			}
			
			float: 			left;
			font-weight: 	bold;
			
		}
		
		dd {
			
			text-transform: capitalize;
			
			@include xs {
				width: 		60%;
			}
			
			@include sm-up {
				width: 		75%;
			}
			
		}
		
		
	}
	
	iframe {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
		
}