// Posts page styles

body#post {

	main#content {
		
	}

	article#post-content {

		@include xs {
			margin-bottom: $pad-1;
		}
		@include sm-up {
			margin-bottom: $pad-2;
		}

	}
			
	header.post-title {

		p.categories {
			@include xs {
				padding: 		$h1-padding-top-xs 0 $pad-1;
			}
			@include sm {
				padding: 		$h1-padding-top-sm 0 $pad-2;
			}
			@include md {
				padding: 		$h1-padding-top-md 0 $pad-2;
			}
			@include lg {
				padding: 		$h1-padding-top-lg 0 $pad-2;
			}
			@include xl {
				padding: 		$h1-padding-top-xl 0 $pad-2;
			}
		}

		h1#post-title {

			display: 			block;

			@include xs {
				padding: 		0 0 $h1-padding-bottom-xs 0;
			}
			@include sm {
				padding: 		0 0 $h1-padding-bottom-sm 0;
			}
			@include md {
				padding: 		0 0 $h1-padding-bottom-md 0;
			}
			@include lg {
				padding: 		0 0 $h1-padding-bottom-lg 0;
			}
			@include xl {
				padding: 		0 0 $h1-padding-bottom-xl 0;
			}

		}
			
	}

	aside.post-image {

		figure {
			max-width: 900px;

			figcaption * {
				color: 		$white;
			}
		}

		img {
			width: 100%;
			@include card-shadow;
			@include border;
		}

		@include xs {
			margin-bottom: $pad-1;
		}
		@include sm-up {
			margin-bottom: $pad-2;
		}

	}

	aside.post-meta {

		* {
			color: 		$white;
		}
		
		dl.meta-data{

			max-width: 900px !important;
			margin-left: 0;

			@include xs {
				margin-bottom: $pad-1;
			}
			@include sm-up {
				margin-bottom: $pad-2;
			}

			display:	grid;

			grid-template-columns: 	auto minmax(0, 1fr);

			grid-template-areas: 	"by author"
									"published date";

			grid-column-gap: 		40px;
			column-gap: 			40px;
		}


	}
	
	section.post-body {
		
		@include border;

		position: relative;
		display: block;

		max-width: 			900px !important;
		margin-left: 		0;

		padding-top: $pad-1;

		background: $white;
		@include card-shadow;
		
		> p:first-of-type {

		}
		
		twitter-widget {

			margin-left: auto;
			margin-right: auto;

			-webkit-font-feature-settings: 	normal !important;
			   -moz-font-feature-settings: 	normal !important;
			  	 -o-font-feature-settings: 	normal !important;
					font-feature-settings:	normal !important;

		}
		
		div.footnotes {

			padding: $pad-3 0 $pad-1;
		
			&:before {
				display: inline-block;
				@extend h5;
				content: "Footnotes";
			}

			p, li {

				max-width: 		60ch;
			
				font-family: 	$font-family;
				font-weight: 	$p-font-weight;
				font-style: 	normal;
			
				color:			$black;
			
				@include xs {
					font-size: 		$p-font-size-xs * 0.8;
					line-height: 	$p-line-height-xs * 0.8;
					padding: 		$p-padding-top-xs 0 ($p-padding-bottom-xs * 0.5) 0;
				}
				@include sm {
					font-size: 		$p-font-size-sm * 0.8;
					line-height: 	$p-line-height-sm * 0.8;
					padding: 		$p-padding-top-sm 0 ($p-padding-bottom-sm * 0.5) 0;
				}
				@include md {
					font-size: 		$p-font-size-md * 0.8;
					line-height: 	$p-line-height-md * 0.8;
					padding: 		$p-padding-top-md 0 ($p-padding-bottom-md * 0.5) 0;
				}
				@include lg {
					font-size: 		$p-font-size-lg * 0.8;
					line-height: 	$p-line-height-lg * 0.8;
					padding: 		$p-padding-top-lg 0 ($p-padding-bottom-lg * 0.5) 0;
				}
				@include xl {
					font-size: 		$p-font-size-xl * 0.8;
					line-height: 	$p-line-height-xl * 0.8;
					padding: 		$p-padding-top-xl 0 ($p-padding-bottom-xl * 0.5) 0;
				}
				
			}
			
		}
	}
	
	iframe {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
		
}