// Sidebar

ul#social-links {

	display: block;
	position: relative;
	
	width: 100%;
	
	padding: 0;
	
	list-style: none;
	
	li {
		position: relative;
		flex: 1;

		margin: 0 0 $pad-1 0;
		padding: 0;
		
		height: 36px + $pad-2;
		font-size: 20px;
		line-height: 36px + $pad-2;
		
		background: $gray-200;
		
		border-top: 1px solid;
		border-color: $border-color;
		@include dark-mode {
			background: $true-black;
			border-color:     $border-color-dark-mode;		
		}
		
		&:hover,
		&:focus {
			background: $brand-25;
			@include dark-mode {
				background: $brand;
			}
			outline:    none;
		}
		
		svg {
			float: left;
			height: 35px + $pad-2;
			width: 36px + $pad-2;
			padding: $pad-1;
			
			color: $white;
			background: $brand;
			@include dark-mode {
				color: $brand;
				background: $brand-25;
			}
		}
		
		a {
			display: inline-block;
			padding: 0 20px;
			
			float: left;

			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		@include clearfix;
	}
	
}