// Typography

a {
	
}

h1 {
	
}

h2 {
	
}

h3 {
		
}

h2 + h3 {
	
	@include xs {
		padding-top: 0 !important;
	}
	@include sm {
		padding-top: 0 !important;
	}
	@include md {
		padding-top: 0 !important;
	}
	@include lg {
		padding-top: 0 !important;
	}
	@include xl {
		padding-top: 0 !important;
	}

}

h4 {
	
}

h3 + h4 {
	
	margin: 0;
	
	@include xs {
		padding-top: 0 !important;
	}
	@include sm {
		padding-top: 0 !important;
	}
	@include md {
		padding-top: 0 !important;
	}
	@include lg {
		padding-top: 0 !important;
	}
	@include xl {
		padding-top: 0 !important;
	}
	
}

h5 {
	
}

p {
	
	&.lead {
			
	}
	
}

sup {
	font-feature-settings:		$sup-font-feature-settings;
    text-decoration: none;
    margin-left: 2px;
    
    a {
	    text-decoration: none;
	    
	    &:hover,
	    &:focus {
		    text-decoration: none;
	    }
    }
}
	
strong, b {
	font-weight: 	bold;
}

em, i {
	font-style: 	italic;
}

u {
	text-decoration: underline;
}

center {
	text-align: center;
}

li {
	
}

ul {
		
}

ol {

}

blockquote {
			
	
	p {		
		&:first-child {

		}
		&:last-child {

		}
	}
	
	ul {	

	}
	
	ol {		

		
		&:last-child {

		}
		
	}
	
	p ~ ol, 
	p ~ ul {
		
	}
	
}


table {

	width: 100%;
	     	
	thead {
					
	}
	
	tfoot {
		
	}
	
	tr {

		&:last-child {

		}
	}
	
	th, td {
		
		&:first-child {

		}
	}
}

a.reversefootnote {
	
}









