<!DOCTYPE html>
<html lang="en">

{% include head.html %}

  <body id="{{ page.layout }}"{% if page.theme %} class="theme-{{ page.theme }}"{% endif %}>

    {% include skiplink.html %}
      
      {% include header.html %}

      <main id="content" class="container">

        <article>
      
          <h1 class="display">Page not found</h1>
          <p>Oops. That page appears to have flown the nest.</p>
          <p>Error 404.</p>
          <img class="dead" src="/assets/images/site/finch-dead.svg"

        </article>
      
      </main>

      {% include footer.html %}

    {% include breakpoints.html %}

  </body>

</html>