<!DOCTYPE html>
<html lang="en">

{% include head.html %}

  <body id="{{ page.layout }}"{% if page.theme %} class="theme-{{ page.theme }}"{% endif %}>

    {% include skiplink.html %}

    <div class="wrapper">
      
      {% include header.html %}

      <div id="main">

        <main id="content">
        
          <article>
            <h1>404</h1>
            <p>Page not found</p>
          </article>

        </main>

      </main>

    </div>

    {% include breakpoints.html %}

  </body>

</html>


