---
layout: default
---
						
<article id="post-content" class="container">

	<aside class="post-image">

		<figure>
			<img src="{{ page.image }}" alt="{{ post.image-alt }}">
			<figcaption>
				<p><strong>Image:</strong>
				{{ page.image-alt }}
				{% if page.image-link %}<a href="{{ page.image-link }}" title="Open {{ page.image-linktext }} in new window" rel="external">{{ page.image-linktext }}</a>.{% endif %}</p>
			</figcaption>
		</figure>
		
	</aside>

	<header class="post-title">

		{% if page.categories %}
			<p class="categories">{% for categories in page.categories %}{{ categories | replace: "-", " " }}{% endfor %}</p>
		{% endif %}

		<h1 class="post-title">{{ page.title | smartify }}</h1>			

	</header>
						
	<aside class="post-meta">
		
		<dl class="meta-data">
			
			<dt class="post-author">By:</dt> <dd>{{ page.author }}</dd>
			<dt class="post-date">Published:</dt> <dd>{{ page.date | date: '%-d %B %Y' }}</dd>
	
			
		
		</dl>
		
	</aside>

	<section class="post-body">
		
		{{ content }}
			
	</section>
	
	
	<footer class="post-footer">
	
	</footer>
	
</article>


